<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Welcome to the weather page </title>
  </head>
  <body>
    <h3> Enter which day weather you would like to see </h3>
     <form action="/weatherstat" method = "post">
     <h3> city(city,state): <input type = "city" name = "city"><h3><br>
     <h3> start date(yyyy-mm-dd): <input type = "start" name = "start"><h3><br>
     <h3> end date(yyyy-mm-dd): <input type = "end" name = "end"><h3><br>
     <h3> hour: <input type = "hour" name = "hour"><h3><br>
     <button type = "submit" > submit

     </form>
  </body>
</html>

